.login {
  background: linear-gradient(
    108deg,
    var(--transparnt-primary-color) 30%,
    var(--primary-color) 70%
  );
  form {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: var(--bg-main);
    .input {
      border: 1px solid rgb(195, 195, 195);
      display: flex;
      align-items: center;
      gap: 7px;
      padding: 10px;
      border-radius: 8px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      input {
        flex: 1;
        width: 100%;
        outline: none;
        font-size: 17px;
        background-color: transparent;
      }
    }

    .btn_google {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-color: var(--bg-box);

      margin-bottom: 10px;

      button {
        box-shadow: unset !important;
        background-color: transparent !important;
        font-family: inherit !important;
        font-weight: 600 !important;
        color: var(--text-color) !important;

        div {
          border-radius: 50% !important;
        }

        span {
          font-size: 17px !important;
          font-weight: 600 !important;
        }
      }
    }
  }
}
