.report_section {
  padding: 12px;
  border-radius: 10px;
  background-color: var(--second-color);

  form {
    .input_item {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid var(--border-color);
      padding: 8px;
      border-radius: 8px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      input {
        flex: 1;
        background-color: transparent;
        outline: none;
        color: gray;

        &::placeholder {
          color: gray;
        }
      }

      svg {
        color: gray;
      }
    }
  }
}
