.report_section {
  padding: 12px;
  border-radius: 10px;
  background-color: var(--second-color);

  form {
    .item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .input_item {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid var(--border-color);
        padding: 8px;
        border-radius: 8px;

        input {
          flex: 1;
          background-color: transparent;
          outline: none;
          color: gray;

          &::placeholder {
            color: gray;
          }
        }

        svg {
          color: gray;
        }
      }

      .error {
        text-align: start;
        margin-top: 5px;
        font-size: 13px;
        color: red;
      }
    }
  }
}
