.notification_page {
  .notifications_items {
    .notifications_item {
      background-color: rgb(238, 238, 238);
      border-radius: 10px;
      padding: 10px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
